<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carga de crédito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card  color="medium">
    <ion-card-header>
      <ion-card-title>
        CARGA DE CRÉDITO
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="custom-center">
      <ion-row class="custom-margin">
        <ion-col class="form-group">
            <button type="button" class="btn button-rectangular" (click)="accesoRapidoPaciente1()">
              Invitado
            </button>
        </ion-col>
        <ion-col class="form-group">
            <button type="button" class="btn button-rectangular" (click)="accesoRapidoEspecialista1()">
              Usuario
            </button>
        </ion-col>
        <ion-col class="form-group">
            <button type="button" class="btn button-rectangular" (click)="accesoRapidoAdmin()">
              Admin
            </button>
        </ion-col>
        </ion-row>
      <form [formGroup]="loginUsuario">
        <ion-item>
          <ion-input class="input" type="email" fill="solid" label="Correo electrónico" labelPlacement="floating"
            helperText="Ingrese un correo válido" errorText="Correo inválido" ngModel formControlName="email"
            email></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="input" type="Password" fill="solid" label="Contraseña" labelPlacement="floating"
            helperText="Ingrese una contraseña de mínimo 6 carácteres" errorText="Contraseña inválida" ngModel formControlName="pass"
            ></ion-input>
        </ion-item>
        <button (click)="login()" [disabled]="loginUsuario.invalid" class="login" >Aceptar</button>
      </form>
     </ion-card-content>
  </ion-card>
</ion-content>
