// .scan-box {
//   border: 2px solid #fff;
//   box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
//   content: "";
//   display: block;
//   left: 50%;
//   height: 300px;
//   position: absolute;
//   top: 35%;
//   transform: translate(-50%, -50%);
//   width: 300px;
// }
// .scan-box2 {
//   border: 2px solid #fff;
//   box-shadow: 0 0 0 100vmax;
//   content: "";
//   display: block;
//   left: 50%;
//   height: 300px;
//   position: absolute;
//   top: 35%;
//   transform: translate(-50%, -50%);
//   width: 300px;
// }



// ion-content{
//   --background: none;
// }

// .scan-button {
//   margin: 0px;
//   position: absolute;
//   bottom: 100px;
//   width: 100vw;
//   height: 50px;
//   z-index: 11;
// }
// .keke2{
//   color: transparent;
//   text-shadow: 3px 3px 3px transparent;
//   background: transparent;
//   background-color: transparent;
// }


h5, ion-item,ion-title, ion-label, span, button,ion-button, ion-input, ion-note, div{
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 5px;}
.fs{
font-size: 50px;
}
.fsc{
font-size: 40px;
}

.pos{
  margin: 0px;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 50px;
  z-index: 11;
  background-color: rgb(47, 20, 73);
}
.pos2{
margin: 0px;
position: absolute;
bottom: 50px;
width: 100vw;
height: 100px;
background-color: blueviolet;
z-index: 10;
}

.pos3{
  margin: 0px;
  position: absolute;
  width: 100vw;
  height: 100px;
  background-color: rgb(169, 112, 223);
  }

// .alertCancel{
// --background: red;
//   button.alertButton{
//     color: white;
//   }
// }







// .barcode-scanner--area--container {
//   width: 80%;
//   max-width: min(500px, 80vh);
//   margin: auto;
// }
// .barcode-scanner--area--outer {
//   display: flex;
//   border-radius: 1em;
// }
// .barcode-scanner--area--inner {
//   width: 100%;
//   margin: 1rem;
//   border: 2px solid #fff;
//   box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 0.5),
//     inset 0px 0px 2px 1px rgb(0 0 0 / 0.5);
//   border-radius: 1rem;
// }

// .sample-background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background: linear-gradient(45deg, #673ab7, transparent);
//   background: url('../../../assets/general/qr-maca.png');
//   background-position: 45% 50%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   animation: shake 5s infinite;
// }

// .scanner-activo {
//   --background: transparent;
//   --ion-background-color: transparent;
// }












$font: 'Six Caps', sans-serif;

ion-content {
  --background: radial-gradient(
    circle,
    #69636a 7%,
    #784f74 100%
   );
  // --background: none;
  // background-image: url('../../../assets/general/5.png');
}

.header{
  --background: transparent;
}

.toolbar-icon {
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scanner-activo {
  --background: transparent;
  --ion-background-color: transparent;
}

.visor {
  margin-top: 2rem;
  display: grid;
  place-content: center;
}

.centrado {
  padding-top: 0.5rem;
  display: grid;
  place-content: center;
}

.escanear {
  display: grid;
  place-content: center;
  width: 23rem;
  height: 5.5rem;
  background-color: #b860b8;
  img{
    width: 4rem;
    height: 4rem;
  }
}
.escanear:active {
  transform: scale(1.1);
  background: #000;
  box-shadow: 0 0 12px rgb(255, 255, 255);
  transition: transform 0.5s, background 0.5s;
}

.titulo {
  display: grid;
  place-content: center;
  font-size: 3rem;
  font-family: $font;
  letter-spacing: 5px;
  margin-top: 0px;
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}

.monto {
  width: 21rem;
  height: 23rem;
  font-size: 9rem;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-size: cover;
}
.monto-amarillo{
  background-image: url('../../../assets/general/qr-maca2.png');
}
.monto-rojo{
  background-image: url('../../../assets/general/qr-maca2.png');

}

.scanner-activo-visor {
  border: 5px ridge #fff;
  color: transparent;
  text-shadow: 3px 3px 3px transparent;
  background: transparent;
  background-color: transparent;
  position: relative;
  span {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 3px;
    background: red;
    animation-name: move-bar;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0 0 20px red;
  }
}

@keyframes move-bar {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

//SPINNER
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.custom-spinner img {
  animation: rotate-center 1s ease-in-out infinite both;
  max-width: 200px;
  height: 200px;
  opacity: 1;
}

.custom-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background-color: rgba(121, 119, 119, 0.932);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}


.wrapper {
  position: absolute;
  background: #2A628F;
  border-radius: 10px;
  border: 3px solid #fff;
  transform: translate(0, -50%);
  top: 50%;
  width: 100vw;
  left: 0;
}

ion-modal{
  --background:transparent;
}
